<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>{% block title %}Cirrostrats{% endblock %}</title> 
</head>
<body>

    <div class="loading">
        <div class="gmt-clock">
            UTC: <span id="gmt-time"></span>
        </div>  
    </div>

    <header class="sticky-header">
        <!-- Add burger menu -->
        <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Add text on the right side of the header -->
        <div class="header-text">
            <a href="{% url 'home' %}" style="color: white; text-decoration: none;">Cirrostrats</a> 
        </div>

        <div class="dark-mode-switch">
            <button id="modeButton" onclick="toggleDarkMode()"></button>
        </div>
          
        <!-- Add sidebar -->
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'ourstory' %}">Our Story</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'source' %}">Source</a></li>
                <li><a href="{% url 'guide' %}">Guide</a></li>
                <li><a href="{% url 'report' %}">Report</a></li>
            </ul>
        </div>
    </header>


    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'base.js' %}"></script>
</body>
</html>
