<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>{% block title %}Cirrostrats{% endblock %}</title>
</head>
<body>
    <header class="sticky-header">
        <!-- Add burger menu -->
        <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- Add text on the right side of the header -->
        <div class="header-text">
            <a href="{% url 'home' %}" style="color: white; text-decoration: none; position: absolute;">Cirrostarts</a> 
        </div>
        <!-- Add sidebar -->
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'ourstory' %}">Our Story</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'source' %}">Source</a></li>
                <li><a href="{% url 'guide' %}">Guide</a></li>
            </ul>
        </div>
    </header>
    
    <h1>Cirrostrats</h1>

    <script>
        // JavaScript code for toggling the burger menu, sidebar, and dark mode
        document.addEventListener("DOMContentLoaded", function () {
            var burgerMenu = document.querySelector(".burger-menu");
            var sidebar = document.querySelector(".sidebar");
            
            burgerMenu.addEventListener("click", function () {
                sidebar.classList.toggle("active");
            });
        });
    </script>

    {% block content %}
    {% endblock %}

</body>
</html>
