

<table class="summary-table spacer-row-js-table">
    <tbody id="tableBody">
        {{airport}} 
    </tbody>
</table>


<script>   
 
    // This is where the section starts. Seems like the html up above loads then comes down here. 
    // Once here 
    document.addEventListener('DOMContentLoaded', function() {
            // This loads up right away
        
        var airport ='{{ airport }}' 
        var url = 'data_v/' + airport +'/'
        // This is where the data is pulled from the views function data_v. This is the first point of access.
            fetch(url)
        .then(response => response.json())
        .then(data => {             // data is a variable that pulls in data_v's bulk_flight_deet dictionary
            taf = data.TAF
            function weather_processing(individual_data){
                const table = document.createElement('table');
                table.className = "another-table"
                const thread = document.createElement('thread');
                table.append(thread);
                const tbody = document.createElement('tbody');
                table.append(tbody);

                const tr = document.createElement('tr');
                tbody.append(tr)

                const td = document.createElement('td');
                td.innerHTML = individual_data
                tr.append(td);
                return table
            }
            
            const tableBody = document.getElementById('tableBody')
            tableBody.appendChild(weather_processing(taf))
        })
        .catch(error => console.error('Error Console:', error));
    });
</script>