{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<!-- dummy2.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Dummy Page</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'flight_deet.css' %}">
    
    <meta name="format-detection" content="telephone=no">
    
    <h3>United Flight Information</h3>
    <h4 id="flight_number"></h4>    <!--Text within wont be shown since its being overwritten-->
    
    <div id="loading"></div>
    
    <table class="summary-table">
        <thead>
            <tr>
                <th colspan="2">Summary</th>
            </tr>
        </thead>
        <tbody>
            <td colspan="2" style="text-align: center;">
                <span id="flight_number" style="font-size: 18px;"></span> <br>
            </td>
            <tr>
                <td id="departure_ID"></td>
                <td id="destination_ID"></td>
            </tr>
            <tr>
                <td id="departure_gate"></td>
                <td id="arrival_gate"></td>
            </tr>
            <tr>
                <td>
                    <span id="scheduled_departure_time"></span> <br>
                    <span id="scheduled_out"></span> <br>
                    <span id="estimated_out"></span>
                </td>
                <td>
                    <span id="scheduled_arrival_time"></span> <br>
                    <span id="scheduled_in"></span> <br>
                    <span id="estimated_in"></span>
                </td>
            </tr>
            
        </tbody>
    </table>

    <div id="departure-container" class="table-container">
        <div class="accordion-button-container">
        <div class="accordion-content active" id="departure-content-{{ departure_ID }}">
            <table class="comparison-table">
                <thead>
                    <tr>
                        <th>
                            <div class="header-button" onclick="toggleAccordion('departure-content-{{ departure_ID }}')">
                                &#9660; Departure
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <td style="width: 100%; text-align: left;">
                        <span id="scheduled_departure_time" style="float: left; width: 33%;"></span>
                        <span id="departure_ID" style="float: left; width: 33%; text-align: center;"></span>
                        <span id="departure_gate_registration" style="float: right; width: 33%; text-align: right;"></span>

                    </td>
                    
                    <tr>{% for metar_taf_title, metar_taf_data in dep_weather.items %}</tr>
                    <tr>
                        <td>{{ metar_taf_title }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; font-family: Menlo, monospace;">{{ metar_taf_data|safe }}</td>                           
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <table class="route">
        <tr>
            <th id="sv">ROUTE <a href="#" target="_blank">Show on SkyVector Map</a></th>
        </tr>
        <tr>
            <td id="filed_altitude"></td>
        </tr>
        <tr>   
            <td id="route"></td>
        </tr>
    </table>

    <script>    //  Declare the variable
        var flight_number = document.getElementById('flight_number');
        // var registration = document.getElementById('registration');
        var departure_ID = document.getElementById('departure_ID');
        var destination_ID = document.getElementById('destination_ID')
        var departure_gate = document.getElementById('departure_gate')
        var arrival_gate = document.getElementById('arrival_gate')
        var scheduled_departure_time = document.getElementById('scheduled_departure_time')
        var scheduled_out = document.getElementById('scheduled_out')
        var estimated_out = document.getElementById('estimated_out')
        var scheduled_arrival_time = document.getElementById('scheduled_arrival_time') 
        var scheduled_in = document.getElementById('scheduled_in') 
        var estimated_in = document.getElementById('estimated_in')
        // var sv = document.getElementById('sv')
        var filed_altitude = document.getElementById('filed_altitude')
        var route = document.getElementById('route')
        var scheduledDepartureTimeElement = document.getElementById('scheduled_departure_time');
    var departureIdElement = document.getElementById('departure_ID');
    var departureGateRegistrationElement = document.getElementById('departure_gate_registration');
    var metar_taf_data = document.getElementById ('metar_taf_data')
        


        // Set initial content when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            flight_number.innerHTML = "Loading...";
            // registration.innerHTML = "";
            departure_ID.innerHTML = "";
            departure_ID.innerHTML = "";
            destination_ID.innerHTML = "";
            departure_gate.innerHTML = "";
            arrival_gate.innerHTML = "";
            scheduled_departure_time.innerHTML = "";
            scheduled_out.innerHTML = "";
            estimated_out.innerHTML = "";
            scheduled_arrival_time.innerHTML = ""
            scheduled_in.innerHTML = "";
            estimated_in.innerHTML = "";
            // sv.innerHTML = "";
            route.innerHTML = "";
            scheduledDepartureTimeElement.innerHTML = "";
        departureIdElement.innerHTML = "";
        departureGateRegistrationElement.innerHTML = "";




            fetch('data_v')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            flight_number.innerHTML = data.flight_number;
            departure_ID.innerHTML = data.departure_ID;
            destination_ID.innerHTML = data.destination_ID;
            
            departure_gate.innerHTML = data.departure_gate;
            arrival_gate.innerHTML = data.arrival_gate;
            
            scheduled_departure_time.innerHTML = data.scheduled_departure_time;
            scheduled_out.innerHTML = data.scheduled_out;
            estimated_out.innerHTML = data.estimated_out;
            scheduled_arrival_time.innerHTML = data.scheduled_arrival_time;
            scheduled_in.innerHTML = data.scheduled_in;
            estimated_in.innerHTML = data.estimated_in;
            filed_altitude.innerHTML = data.filed_altitude;
            route.innerHTML = data.route;
            // sv.innerHTML = data.sv;
                scheduledDepartureTimeElement.innerHTML = data.scheduled_departure_time;
                departureIdElement.innerHTML = data.departure_ID;
                departureGateRegistrationElement.innerHTML = data.departure_gate;

            // Update the content for the SkyVector link
            sv.href = data.sv;
        })
        .catch(error => console.error('Error Console:', error));
});
    </script>
</body>
</html>

  
  {% endblock %}
