{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<!-- dummy2.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Dummy Page</title>
</head>
<body>
    <h1 id="name-placeholder"></h1> <!-- The text does not show up, instead nameElement.innerHTML's value shows up-->

    <script>
        var nameElement = document.getElementById('name-placeholder');

        // Set initial content when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            nameElement.innerHTML = "Loading...";

            // Fetch data asynchronously after the page has loaded
            fetch('data_v')
                .then(response => response.json())
                .then(data => {
                    // Update the content with the actual data
                    nameElement.innerHTML = "Name: " + data;
                })
                .catch(error => console.error('Error:testtt', error));
        });
    </script>
</body>
</html>

  
  {% endblock %}
