<tr>
    <td>D-ATIS <span class="small-text"> {{ trr.datis_zt }} mins ago</span> </td>
</tr>
<tr>
    <td style="text-align: left; font-family: Menlo, monospace;">{{ trr.D_ATIS |safe}}</td>
</tr>


<tr>
    <td>METAR <span class="small-text"> {{ trr.metar_zt }} mins ago</span> </td>
</tr>
<tr>
    <td style="text-align: left; font-family: Menlo, monospace;">{{ trr.METAR |safe}}</td>
</tr>


<tr>
    <td>TAF <span class="small-text"> {{ trr.taf_zt }} mins ago</span> </td>
</tr>
<tr>
    <td style="text-align: left; font-family: Menlo, monospace;">{{ trr.TAF |safe}}</td>
</tr>        