{% extends "dj_app/base.html" %}

{% block content %}
  <h1>United flights at EWR</h1>
  {% if flights %}
    <table>
      <thead>
        <tr>
          <th>Flight</th>
          <th>Scheduled</th>
          <th>Actual</th>
        </tr>
      </thead>
      <tbody>
      {% for flight in flights %}
        <h3> {{ flight.gate }}</h3>
        <tr>
          <td>{{ flight.flight_number }}</td>
          <td>{{ flight.scheduled }}</td>
          <td>{{ flight.actual }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No flights found.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label for="gate">Gate:</label>
    <input type="text" name="gate" id="gate">
    <button type="submit">Search</button>
  </form>
{% endblock %}
