{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'flight_deet.css' %}">

<meta name="format-detection" content="telephone=no">

<h3>United Flight Information</h3>
<h4>Results for {{ flight_number }}</h4>


{% if flight_number %}

<div id="loading"></div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
</style>

<table class="summary-table">
    <thead>
        <tr>
            <th colspan="2">Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" style="text-align: center;">
            <span style="font-size: 30px; font-family: 'Open Sans', sans-serif; font-weight: 700;">{{ flight_number }}</span> <br> {{ registration }}
             </td>

        <tr>
            <td style="font-size: 28px; font-family: 'Open Sans', sans-serif; font-weight: 700;">{{departure_ID}}</td>
            <td style="font-size: 28px; font-family: 'Open Sans', sans-serif; font-weight: 700; text-align: right;">{{destination_ID}}</td>
        </tr>
        
        <tr>
            <td style="font-size: 15px"> {{ departure_gate }}</td>
            <td style="font-size: 15px;"> {{ arrival_gate }}</td>
        </tr>
        <tr>
            <td style="font-size: 12px;">
                {{ scheduled_departure_time}} <br>
                STD {{ scheduled_out }} <br>
                ETD {{ estimated_out }}
            </td>
            <td style="font-size: 12px;">
                {{ scheduled_arrival_time }} <br>
                STA {{ scheduled_in }} <br>
                ETA {{ estimated_in }}
            </td>
        </tr>
    </tbody>
</table>



<div id="departure-container" class="table-container">
    <div class="accordion-button-container">
    <div class="accordion-content active" id="departure-content-{{ departure_ID }}">
        <table class="comparison-table">
            <thead>
                <tr>
                    <th>
                        <div class="header-button" onclick="toggleAccordion('departure-content-{{ departure_ID }}')">
                            &#9660; Departure
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <td style="width: 100%; text-align: left;">
                    <span style="float: left; width: 33%;">{{ scheduled_departure_time }} ({{scheduled_out}})</span>
                    <span style="float: left; width: 33%; text-align: center;">{{ departure_ID }}</span>
                    <span style="float: right; width: 33%; text-align: right;">{{ departure_gate }} ({{registration}})</span>
                </td>
                
                <tr>{% for metar_taf_title, metar_taf_data in dep_weather.items %}</tr>
                <tr>
                    <td>{{ metar_taf_title }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; font-family: Menlo, monospace;">{{ metar_taf_data|safe }}</td>                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<table class="route">
    <tr>
        <th>ROUTE <a href="{{ sv }}" target="_blank">Show on SkyVector Map</a></th>
    </tr>
    <tr>
        <td>({{ filed_altitude }})  {{ route }}</td>
    </tr>
</table>


{% if nas_departure_affected %}
<div class="table-wrapper">
    <table class="another-table">
        <thead>
        </thead>
        <tbody>
            {% for d1_key, d1_value in nas_departure_affected.items %}
            <tr>
                <td colspan="2">{{ d1_key }}</td>
            </tr>
            {% for d2_key, d2_value in d1_value.items %}
            <tr>
                <td>{{ d2_key }}</td>
                <td>{{ d2_value }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
</div>
</div>

<div id="destination-container" class="table-container">
    <div class="accordion-button-container">
    <div class="accordion-content active" id="destination-content-{{ destination_ID }}">
        <table class="comparison-table">
            <thead>
                <tr>
                    <th>
                        <div class="header-button" onclick="toggleAccordion('destination-content-{{ destination_ID }}')">
                            &#9660; Destination
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100%; text-align: left;">
                        <span style="float: left; width: 33%;">{{scheduled_arrival_time}} ({{scheduled_in}})</span>
                        <span style="float: left; width: 33%; text-align: center;">{{ destination_ID }}</span>
                        <span style="float: right; width: 33%; text-align: right;">{{ arrival_gate }}</span>
                    </td>
                </tr> {% for metar_taf_title, metar_taf_data in dest_weather.items %}
                <tr>
                    <td>{{ metar_taf_title }}</td>
                </tr>
                <tr>
<td style="text-align: left; font-family: Menlo, monospace;">{{ metar_taf_data|safe }}</td>                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if nas_destination_affected %}
<div class="table-wrapper">
    <table class="another-table">
        <thead>
        </thead>
        <tbody>
            {% for d1_key, d1_value in nas_destination_affected.items %}
            <tr>
                <td colspan="2">{{ d1_key }}</td>
            </tr>
            {% for d2_key, d2_value in d1_value.items %}
            <tr>
                <td>{{ d2_key }}</td>
                <td>{{ d2_value }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
</div>
</div>

{% else %}
<p>No details found for {{ flight_query }}.</p>
<strong>Try the following Examples:</strong>
<br><br>
<em>C71X</em>: Lists all scheduled departures from the requested gate. You can just search for `X` in this case.
<br><br>
<em>i 492 ewr:</em> Returns METAR, and TAF at both departure and arrival airports for the given flight number. Use the `i` switch followed by the flight number followed by 3 letter departure code.
<br><br>
<em>w KEWR:</em> Returns the latest METAR and TAF for the given airport. Use the `w` switch followed by the 4 letter ICAO identifier of the airport.
<br><br>
Empty search returns information on all gates for United flights in KEWR.
{% endif %}

<!-- Search box-->
<div class="search-form-wrapper">
<form method="post" class="search-form">
    {% csrf_token %}
    <label for="query"></label>
    <input type="text" name="query" id="query">
    <button type="submit">Search</button>
</form> 
</div>

<script>        // This script is for departure/destination expand/collapse animation
    function toggleAccordion(contentId) {
      var content = document.getElementById(contentId);
      var tbody = content.querySelector("tbody"); // Select the tbody element inside the content
      
      if (tbody.style.display === "none" || tbody.style.display === "") {
        tbody.style.display = "table-row-group"; // Show the content
      } else {
        tbody.style.display = "none"; // Hide the content
      }
    }

  
</script>

{% endblock %}