{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<head>
    <meta content='width=device-width; initial-scale=1;' name='viewport' />
    <meta name="format-detection" content="telephone=no">
</head>

<link rel="stylesheet" type="text/css" href="{% static 'flight_deet.css' %}">

<div class="data-warning">
    <p>Data may be unreliable. Report any inconsistencies.</p>
</div>

<h3>United Flight Information</h3>


{% if flight_number %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
</style>

<!-- This is the summery table that contains dep/des, gates, flight num, registration and scheduled/estimated times -->
<table class="summary-table">
    <thead>
        <tr>
            {% if registration %}
            <th colspan="2">{{ flight_number }} <span class="small-text">{{ registration }}</span></th>
            {% else %}
            <th colspan="2">{{ flight_number }} </span></th>
            {% endif %}
          </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell">{{departure_ID}}</td>
            <td class="table-cell text-align-right">{{destination_ID}}</td>
        </tr>
        
        <tr class="spacer-row">
            <td class="spacer-cell">&nbsp;</td>
            <td class="spacer-cell">&nbsp;</td>
        </tr>

        <tr class="info-row">
            <td class="info-cell">Gate</td>
            <td class="info-cell">Gate</td>
        </tr>

        <tr class="gate-row">
            <td class="gate-cell">{{ departure_gate }}</td>
            <td class="gate-cell">{{ arrival_gate }}</td>
        </tr>
         
        <tr class="spacer-row">
            <td class="spacer-cell">&nbsp;</td>
            <td class="spacer-cell">&nbsp;</td>
        </tr>

        <tr class="scheduled-row">
            <td class="scheduled-cell">Scheduled Local</td>
            <td class="scheduled-cell">Scheduled Local</td>
        </tr>
        
        <tr class="scheduled-time-row">
            <td class="scheduled-time-cell">{{ scheduled_departure_time }}</td>
            <td class="scheduled-time-cell">{{ scheduled_arrival_time }}</td>
        </tr>

        <tr class="spacer-row">
            <td class="spacer-cell">&nbsp;</td>
            <td class="spacer-cell">&nbsp;</td>
        </tr>

        {% if scheduled_out %}

        <tr class="utc-row">
            <td class="utc-cell">UTC</td>
            <td class="utc-cell">UTC</td>
        </tr>

        <tr class="flight-status-row">
            <td class="flight-status-cell">STD{{scheduled_out}}<br>ETD{{estimated_out}}</td>
            <td class="flight-status-cell">STA{{scheduled_in}}<br>ETA{{estimated_in}}</td>
        </tr>

        {% endif %}
    </tbody>
</table>


<!-- This is the departure box that contains D-Atis, metar and taf. titles include scheduled time and  -->
<div id="departure-container" class="table-container">
    <div class="accordion-button-container">
    <div class="accordion-content active" id="departure-content-{{ departure_ID }}">
        <table class="comparison-table">
            <thead>
                <tr>
                    <th>
                        <div class="header-button" onclick="toggleAccordion('departure-content-{{ departure_ID }}')">
                            &#9660; Departure
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <td style="width: 100%; text-align: left;">
                    <span style="float: left; width: 33%;">{{ scheduled_departure_time }}</span>
                    <span style="float: left; width: 33%; text-align: center;">{{ departure_ID }}</span>
                    <span style="float: right; width: 33%; text-align: right;">{{ departure_gate }}</span>
                </td>
                <!-- Here got rid of for loops and makes it easier to work with design. -->
                <tr>
                    <td>D-ATIS<td>
                </tr>
                <tr>
                    <td style="text-align: left; font-family: Menlo, monospace;">{{dep_datis |safe}}</td>
                <tr>
                    <td>METAR<td>
                </tr>
                <tr>
                    <td style="text-align: left; font-family: Menlo, monospace;">{{dep_metar |safe}}</td>
                <tr>
                    <td>TAF<td>
                </tr>
                <tr>
                    <td style="text-align: left; font-family: Menlo, monospace;">{{dep_taf |safe}}</td>
            </tbody>
        </table>
    </div>
</div>

<!-- This is the route section that includes skyvector map hyperlink -->
{% if route %}
    <table class="route">
        <tr>
            <th>ROUTE <a href="{{ sv }}" target="_blank">Show on SkyVector Map</a></th>
        </tr>
        <tr>
            <td>({{ filed_altitude }})  {{ route }}</td>
        </tr>
    </table>
{% endif %}

<!-- NAS (departures only) table in red-->
{% if nas_departure_affected %}
<div class="table-wrapper">
    <table class="another-table">
        <thead>
        </thead>
        <tbody>
            {% for d1_key, d1_value in nas_departure_affected.items %}
            <tr>
                <td colspan="2">{{ d1_key }}</td>
            </tr>
            {% for d2_key, d2_value in d1_value.items %}
            <tr>
                <td>{{ d2_key }}</td>
                <td>{{ d2_value }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
</div>
</div>


<!-- This is the destination table that contains D-ATIS, METAR and TAF -->
<div id="destination-container" class="table-container">
    <div class="accordion-button-container">
        <div class="accordion-content active" id="destination-content-{{ destination_ID }}">
            <div class="custom-table-wrapper">
                <table class="comparison-table">
                    <thead>
                        <tr>
                            <th>
                                <div class="header-button" onclick="toggleAccordion('destination-content-{{ destination_ID }}')">
                                    &#9660; Destination
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 100%; text-align: left;">
                                <span style="float: left; width: 33%;">{{scheduled_arrival_time}}</span>
                                <span style="float: left; width: 33%; text-align: center;">{{ destination_ID }}</span>
                                <span style="float: right; width: 33%; text-align: right;">{{ arrival_gate }}</span>
                            </td>
                        </tr>
                            <td>D-ATIS</td>
                        <tr>
                            <td style="text-align: left; font-family: Menlo, monospace;">{{dest_datis | safe}}</td>
                        </tr>
                        </tr>
                            <td>METAR</td>
                        <tr>
                            <td style="text-align: left; font-family: Menlo, monospace;">{{dest_metar | safe}}</td>
                        </tr>
                        </tr>
                            <td>TAF</td>
                        <tr>
                            <td style="text-align: left; font-family: Menlo, monospace;">{{ dest_taf | safe }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- NAS (destination only) table in red-->
{% if nas_destination_affected %}
<div class="table-wrapper">
    <table class="another-table">
        <thead>
        </thead>
        <tbody>
            {% for d1_key, d1_value in nas_destination_affected.items %}
            <tr>
                <td colspan="2">{{ d1_key }}</td>
            </tr>
            {% for d2_key, d2_value in d1_value.items %}
            <tr>
                <td>{{ d2_key }}</td>
                <td>{{ d2_value }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
</div>
</div>

{% else %}
<p>No details found for {{ flight_query }}.</p>
<strong>Try the following Examples:</strong>
<br><br>
<em>C71X</em>: Lists all scheduled departures from the requested gate. You can just search for `X` in this case.
<br><br>
<em>i 492 ewr:</em> Returns METAR, and TAF at both departure and arrival airports for the given flight number. Use the `i` switch followed by the flight number followed by 3 letter departure code.
<br><br>
<em>w KEWR:</em> Returns the latest METAR and TAF for the given airport. Use the `w` switch followed by the 4 letter ICAO identifier of the airport.
<br><br>
Empty search returns information on all gates for United flights in KEWR.
{% endif %}


<!-- Search box-->
<div class="search-form-wrapper">
<form method="post" class="search-form">
    {% csrf_token %}
    <label for="query"></label>
    <input type="text" name="query" id="query">
    <button type="submit">Search</button>
</form> 
</div>

<script>      
// This script is for departure/destination expand/collapse animation
    function toggleAccordion(contentId) {
      var content = document.getElementById(contentId);
      var tbody = content.querySelector("tbody"); // Select the tbody element inside the content
      
      if (tbody.style.display === "none" || tbody.style.display === "") {
        tbody.style.display = "table-row-group"; // Show the content
      } else {
        tbody.style.display = "none"; // Hide the content
      }
    }
</script>

{% endblock %}