{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'flight_info.css' %}">
  <div class="search-form-wrapper">
    <form method="post" class="search-form">
      {% csrf_token %}
      <label for="query"></label>
      <input type="text" name="query" id="query">
      <button type="submit">Search</button>
    </form>
  </div>
  <h3>United flights Departures at EWR</h3>
  {% if gate %}
    <h4>Results for {{gate}} at {{current_time}}</h4>
  {% endif %}
  {% if gate_data_table %}
    <table>
      <thead>
        <tr>
          <th>Gate</th>
          <th>Flight</th>
          <th>Scheduled</th>
          <th>Actual</th>
        </tr>
      </thead>
      <tbody>
      {% for flight in gate_data_table %}
        <!-- <h3> {{ flight.gate }}</h3> -->
        <tr>
          <td>{{ flight.gate }}</td>
          <td>{{ flight.flight_number }}</td>
          <td>{{ flight.scheduled }}</td>
          <td>{{ flight.actual }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No flights found for {{gate}}.</p>
    <p>
      <p>Try `w kewr` for weather in Newark: metar and taf;</p>
      <p>`i 4425` for metar and taf for departure and destination of flight UA4425</p>
      <p>`c` for all Terminal C departures;</p>
      <p>`c71` for all C71 departures. Includes C71T, C71V, C71W, C71X, C71Y, C71</p>
      <p>`A` for for all Terminal A departures </p>
    </p>
  {% endif %}
{% endblock %}
