{% extends "dj_app/base.html" %}
{% load static %}

{% block content %}
  <h2>Flight Gate Information</h2>
  <link rel="stylesheet" type="text/css" href="{% static 'flight_info.css' %}">
  
  <div class="search-form-wrapper">
    <form method="post" class="search-form" id="search-form">
      {% csrf_token %}
      <label for="query"></label>
      <input type="text" name="query" id="query" placeholder="Search">
      <button type="submit">Search</button>
    </form>
    <button id="toggle-search">++</button>
  </div>

  {% if gate_data_table %}
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Gate</th>
            <th>Flight</th>
            <th>Scheduled</th>
            <th>Actual</th>
          </tr>
        </thead>
        <tbody>
          {% for flight in gate_data_table %}
            <tr>
              <td>{{ flight.gate }}</td>
              <td>{{ flight.flight_number }}</td>
              <td>{{ flight.scheduled }}</td>
              <td>{{ flight.actual }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <h3>No Results for {{gate}}.</h3>
  {% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const searchForm = document.getElementById("search-form");
      const toggleSearchButton = document.getElementById("toggle-search");

      toggleSearchButton.addEventListener("click", function() {
        searchForm.classList.toggle("expanded");
        document.getElementById("query").focus();
      });
    });
  </script>
{% endblock %}
