{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'guide.css' %}">
    <h2>Check Weather, Gate And Flight Information</h2>

    <h3>Note: Gate Queries Are Currently Only Available for United Flights in Newark.</h3>
    <p>
      <strong>Try the following Examples:</strong>
      <br><br>
      <em>C71X</em>: Lists all scheduled departures from the requested gate. You can just search for `X` in this case. Only applicable for Newark at the moment.
      <br><br>
      <em>492:</em> Returns METAR, and TAF, and ground delay program, if any, at both departure and arrival airports for the given flight number - in this case 'UA492'.
      <br><br>
      <em>w KEWR:</em> Returns the latest METAR and TAF for the given airport. Use the `w` switch followed by the 4 letter ICAO identifier of the airport.
      <br><br>
      Empty search returns information on all gates for United flights in KEWR.
    </p>
 
  </body>
  </html>
  
  {% endblock %}
