{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>LETSLFYSAFE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
  </head>
  <body>
    <h2>Check Weather, Gate And Flight Information</h2>
    {% csrf_token %}
    <form method="post" class="search-form">
        {% csrf_token %}
        <label for="query"></label>
        <input type="text" name="query" id="query">
        <button type="submit">Search</button>
    </form>
    <h3> Note: Gate Queries Are Currently Only Available for United Flights in Newark.</h3>
    <p>
      <strong>Examples:</strong>
      <br><br>
      <em>C71X</em>: returns all flights' scheduled times from this gate. Gives their scheduled time of departure and actual.
      <br><br>
      <em>i 4425:</em> - returns the departure airport, arrival airport, METAR, and TAF at both departure and arrival airport.
      <br><br>
      <em>w kewr:</em> - returns METAR and TAF of the airport in question
      Empty Query: empty query returns all gates.
    </p>
  </body>
</html>

{% endblock %}