{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>LETSLFYSAFE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
  </head>
  <body>
    <h3>Check Weather, Gate And Flight Information</h3>
    <p> NOTE: Gate Queries Are Currently Only Available for United Flights in Newark.</p>
    {% csrf_token %}
    <form method="post" class="search-form">
        {% csrf_token %}
        <label for="query"></label>
        <input type="text" name="query" id="query">
        <button type="submit">Search</button>
    </form>
    <p>
      Available Queries:
      <br>
      <strong>Gate in EWR:</strong> eg. C71, C, A, B, x(C71X), v(C71V), etc.
      <br>
      <strong>metar:</strong> eg. w kbos, w kewr, w kiad, etc
      <br>
      <strong>United flight number out of EWR to get departure, destination, and weather at both:</strong>
      <br>
      eg: i 4431, i 4425, i 4387, etc
      <br><br>
      <strong>Examples:</strong>
      <br>
      <em>Empty Query:</em> - empty query returns all gates
      <br>
      <em>c71x:</em> - returns all flights' scheduled times from this gate. Gives their scheduled time of departure and actual.
      <br>
      <em>w kewr:</em> - returns METAR and TAF of the airport in question
      <br>
      <em>i 4425:</em> - returns the departure airport, arrival airport, METAR, and TAF at both departure and arrival airport
    </p>
    
  </body>
</html>

{% endblock %}