{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>LETSLFYSAFE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
  <h2>Check Weather, Gate And Flight Information</h2>
  <!-- <div class="links-container">
    <p><a href="{% url 'gate_check' %}">Gate Check</a></p>
    <p><a href="{% url 'flight_lookup' %}">Flight Lookup</a></p>
    <p><a href="{% url 'weather' %}">Weather</a></p>
  </div> -->
  {% csrf_token %}
  <form method="post" class="search-form">
    {% csrf_token %}
    <form method="post" class="search-form">
      {% csrf_token %}
      <label for="query"></label>
      <input type="text" name="query" id="query">
      <button type="submit">Search</button>
    </form>
      <p></p>
    <h3><a href="{% url 'guide' %}"> Guide </a></h3>

     <img src="https://radar.weather.gov/ridge/standard/CONUS-LARGE_loop.gif" alt="">
     <img src="https://aviationweather-cprk.ncep.noaa.gov/data/products/progs/F006_wpc_prog.gif" alt="">

    <style>
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    </style>

  </body>
  </html>
</body>
</html>
{% endblock %}
