{% extends "dj_app/base.html" %}

{% block content %}
  <h3> Weather for {{airport}}</h3>
  {% if weather %}
  <table>
    <tbody>
      {% for type, juice  in weather.items %}
        <tr>
          <th>{{ type }}</th>
          <td>{{ juice   }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No weather found for {{airport}}.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label for="query">Query:</label>
    <input type="text" name="query" id="query">
    <button type="submit">Search</button>
  </form>
{% endblock %}
