{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our story</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ourstory.css' %}">
</head>
<body>
  <header>
  <h2>Welcome to Our Story!</h2">
  </header>

  <main>
    <section>
</head>
<body>
  <p>
    In the vast sky where dreams take flight, we embarked on a journey to empower and uplift airline pilots like you. Our story began with a deep passion for aviation, a relentless pursuit of excellence, and a vision to simplify your professional life.
  </p>
  <p>
    In the bustling world of aviation, where every minute counts, we saw the need for a powerful utility tool designed specifically for pilots. We wanted to create a platform that would declutter your workspace, enhance your planning capabilities, and provide invaluable decision-making support, all in one place.
  </p>
  <p>
    With unwavering dedication, we assembled a team of aviation enthusiasts, technology wizards, and industry experts. Together, we embarked on a mission to redefine efficiency and elevate your flying experience to new heights.
  </p>
  <p>
    Our utility tool is a testament to our commitment to innovation and your success. It combines cutting-edge technology with an intuitive interface, ensuring that you have access to the most relevant aviation information at your fingertips. Weather updates, gate statuses, route checks, flight following, crosswind checks, and so much more—all seamlessly integrated into a single, comprehensive solution.
  </p>
  <p>
    But our story doesn't end there. We constantly strive to exceed your expectations, continuously refining and expanding our features to meet the evolving needs of the aviation industry. We collaborate with pilots like you, incorporating your valuable feedback and insights, ensuring that our utility tool remains your trusted companion in the cockpit.
  </p>
  <p>
    As you navigate through the skies, we are here to provide you with the tools you need to soar with confidence. We believe that by simplifying and streamlining your workflow, we can empower you to focus on what truly matters—the safe and efficient operation of your flights.
  </p>
  <p>
    Join us on this remarkable journey as we redefine the way pilots navigate the complexities of their profession. Together, let's embrace the boundless possibilities that await us in the endless blue skies.
  </p>
  <p>
    Welcome aboard!
  </p>
</body>
</html>

    </section>

    <section>
      <h2>Our Team</h2>
      <ul>
        <li>Ujas Vaghani CEO</li>
        <li>Ismail Sakhani - CDO(Design)</li>
        <li>Mark Johnson - Designer</li>
      </ul> 
    </section>
  </main>

  <footer>
    <a href="contact.html">Contact Us</a>
  </footer>
</body>
</html>

{% endblock %}