{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.1">
  <title>Report An Issue</title>
  <link rel="stylesheet" type="text/css" href="{% static 'report_an_issue.css' %}">
  <style>
    header h2 {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <header>
    <h2>Report An Issue</h2>
  </header>

  <main>
    <section>
      <p>If you are facing any issues, please report them to us. You can reach out to us through the following channels:</p>
      <ul>
        <li>Email: <a href="mailto:ujasvaghani@yahoo.com">ujasvaghani@yahoo.com</a></li>
        <li>Phone: <a href="tel:+12015099485">+1 201 509 9485</a></li>
        <li>WhatsApp: <a href="https://wa.me/12015099485" target="_blank">Chat with us on WhatsApp</a></li>
      </ul>
      <p>We appreciate your feedback and will work to resolve any issues as quickly as possible.</p>
    </section>
  </main>
</body>
</html>


{% endblock %}
