{% extends "dj_app/base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'source.css' %}">
    <title>LETSLFYSAFE</title>
    <h1>Souce for all the data</h1>
      <p>https://www.aviationweather.gov</p>
      <p>https://nasstatus.faa.gov/</p>
      <p>https://datis.clowd.io/</p>
      <p>https://www.flightaware.com</p>
      <p>https://www.aviationstack.com</p>
      <p>https://www.flightview.com</p>
      <p>https://www.flightstats.com</p>
      <p>https://www.airport-ewr.com</p>
  </head>
</html>   

{% endblock %}