
<table class="summary-table" id="summary_box_js">

    <tbody>
    </tbody>

</table>






<script>   
 
    // This is where the section starts. Seems like the html up above loads then comes down here. 
    // Once here 
    document.addEventListener('DOMContentLoaded', function() {
            // This loads up right away
        
        var airport ='{{ airport }}' 
        var url = 'summary_box/' + airport +'/'
        // This is where the data is pulled from the views function data_v. This is the first point of access.
            fetch(url)
        .then(response => response.json())
        .then(data => {             // data is a variable that pulls in data_v's bulk_flight_deet dictionary
            let bulk_flight_deets = data;
            console.log(bulk_flight_deets)
            let flt_num = bulk_flight_deets.flight_number;
            let registration = bulk_flight_deets.registration;
            let departure_ID = bulk_flight_deets.departure_ID
            let destination_ID = bulk_flight_deets.destination_ID
            let departure_gate = bulk_flight_deets.departure_gate
            let arrival_gate = bulk_flight_deets.arrival_gate
            let scheduled_departure_time = bulk_flight_deets.scheduled_departure_time
            let scheduled_arrival_time = bulk_flight_deets.scheduled_arrival_time
            let scheduled_out = bulk_flight_deets.scheduled_out
            let scheduled_in = bulk_flight_deets.scheduled_in
            let estimated_out = bulk_flight_deets.estimated_out
            let estimated_in = bulk_flight_deets.estimated_in



            
            function summary_box(bulk_flight_deets) {
                console.log("here in summary box", departure_ID );

                var summary_box_js = document.getElementById('summary_box_js');


                // this is for flight_num and registration //
                var thead = document.createElement('thead');
                var tr = document.createElement('tr');
                var th = document.createElement('th');
                var span = document.createElement('span');
                var tbody_summary_box = document.createElement('tbody');
                span.className = 'small-text';
                span.innerHTML = registration;
                th.innerHTML = flt_num;
                th.colSpan = '2';
                th.appendChild(span);
                tr.appendChild(th);
                thead.appendChild(tr);
                summary_box_js.appendChild(thead)
                summary_box_js.appendChild(tbody_summary_box)
                


                function tr_td_section(tr_class_name, 
                                        td1_class_name, td2_class_name,
                                        td1_displays, td2_displays) {

                var tr_item = document.createElement('tr');

                var td_spacer_cell1 = document.createElement('td');
                var td_spacer_cell2 = document.createElement('td');
                
                tr_item.className = tr_class_name;
                
                td_spacer_cell1.className = td1_class_name;
                td_spacer_cell2.className = td2_class_name;

                td_spacer_cell1.innerHTML = td1_displays;
                td_spacer_cell2.innerHTML = td2_displays;


                tr_item.appendChild(td_spacer_cell1);
                tr_item.appendChild(td_spacer_cell2);

                return tr_item;

                };

                airportID_section = tr_td_section(tr_class_name="",
                                td1_class_name="table-cell",
                                td2_class_name="table-cell text-align-right",
                                td1_displays=departure_ID,
                                td2_displays=destination_ID,
                );

                tbody_summary_box.appendChild(airportID_section);
                

                spacer_section = tr_td_section(tr_class_name="spacer-row",
                                td1_class_name="spacer-cell",
                                td2_class_name="spacer-cell",
                                td1_displays='&nbsp;',
                                td2_displays='&nbsp;',
                );

                tbody_summary_box.appendChild(spacer_section);


                gate_title = tr_td_section(tr_class_name="info-row",
                                td1_class_name="info-cell",
                                td2_class_name="info-cell",
                                td1_displays='Gate',
                                td2_displays='Gate',
                );

                tbody_summary_box.appendChild(gate_title);

                gate_section = tr_td_section(tr_class_name="gate-row",
                                td1_class_name="gate-cell",
                                td2_class_name="gate-cell",
                                td1_displays=departure_gate,
                                td2_displays=arrival_gate,
                );

                tbody_summary_box.appendChild(gate_section);

                tbody_summary_box.appendChild(spacer_section);


                scheduled_section = tr_td_section(tr_class_name="scheduled-row",
                                td1_class_name="scheduled-cell",
                                td2_class_name="scheduled-cell",
                                td1_displays="Scheduled Local",
                                td2_displays="Scheduled Local",
                );

                tbody_summary_box.appendChild(scheduled_section);


                scheduled__row_section = tr_td_section(tr_class_name="scheduled-time-row",
                                td1_class_name="scheduled-time-cell",
                                td2_class_name="scheduled-time-cell",
                                td1_displays=scheduled_departure_time,
                                td2_displays=scheduled_arrival_time,
                );

                tbody_summary_box.appendChild(scheduled__row_section);

                tbody_summary_box.appendChild(scheduled_section);

                flight_aware_UTC = tr_td_section(tr_class_name="flight-status-row",
                                td1_class_name="flight-status-cell",
                                td2_class_name="flight-status-cell",
                                td1_displays='STD ' + scheduled_out + '<br>' + 'ETD ' + estimated_out,
                                td2_displays= 'STD ' + scheduled_in + '<br>' + 'ETD ' + estimated_out,
                                
                );

                tbody_summary_box.appendChild(scheduled__flight_aware_UTC);



                
                // this is for gate row //

                var tr_gate_row = document.createElement('tr');
                var td_gate_cell = document.createElement('td');
                var td_gate_cell1 = document.createElement('td');

                
                td_gate_cell.className = 'info-cell';
                td_gate_cell1.className = 'info-cell';

                td_gate_cell.innerHTML = 'Gate';
                td_gate_cell1.innerHTML = 'Gate';

                tr_gate_row.className = 'info-row';
                
                tr_gate_row.appendChild(td_gate_cell);
                tr_gate_row.appendChild(td_gate_cell1);
                tbody_summary_box.appendChild(tr_gate_row);
                console.log(tr_gate_row)


                // this is for departure and arrival gate //

                var tr_gate = document.createElement('tr');
                var td_gate_dep = document.createElement('td');
                var td_gate_arr = document.createElement('td');

                
                td_gate_dep.className = 'gate-cell';
                td_gate_arr.className = 'gate-cell';

                td_gate_dep.innerHTML = departure_gate;
                td_gate_arr.innerHTML = arrival_gate;

                tr_gate.className = 'gate-row';
                
                tr_gate.appendChild(td_gate_dep);
                tr_gate.appendChild(td_gate_arr);
                tbody_summary_box.appendChild(tr_gate);



                
                // this is for scheduled local text //


                var tr_scheduled_row = document.createElement('tr');
                var td_scheduled_cell = document.createElement('td');
                var td_scheduled_cell1 = document.createElement('td');


                td_scheduled_cell.className = 'scheduled-cell';
                td_scheduled_cell1.className = 'scheduled-cell';

                td_scheduled_cell.innerHTML = 'Scheduled Local';
                td_scheduled_cell1.innerHTML = 'Scheduled Local';

                tr_scheduled_row.className = 'scheduled-row';
                
                tr_scheduled_row.appendChild(td_scheduled_cell);
                tr_scheduled_row.appendChild(td_scheduled_cell1);
                tbody_summary_box.appendChild(tr_scheduled_row);


                // this is for scheduled dep/arr time //

                var tr_scheduled_time_row = document.createElement('tr');
                var td_scheduled_dep = document.createElement('td');
                var td_scheduled_arr = document.createElement('td');

                
                td_scheduled_dep.className = 'scheduled-time-cell';
                td_scheduled_arr.className = 'scheduled-time-cell';

                td_scheduled_dep.innerHTML = scheduled_departure_time;
                td_scheduled_arr.innerHTML = scheduled_arrival_time;

                tr_scheduled_time_row.className = 'scheduled-time-row';
                
                tr_scheduled_time_row.appendChild(td_scheduled_dep);
                tr_scheduled_time_row.appendChild(td_scheduled_arr);
                tbody_summary_box.appendChild(tr_scheduled_time_row);



                // this is for utc row //


                var tr_utc = document.createElement('tr');
                var td_utc_cell = document.createElement('td');
                var td_utc_cell1 = document.createElement('td');


                td_utc_cell.className = 'utc-cell';
                td_utc_cell1.className = 'utc-cell';

                td_utc_cell.innerHTML = 'UTC';
                td_utc_cell1.innerHTML = 'UTC';

                tr_utc.className = 'utc-row';
                
                tr_utc.appendChild(td_utc_cell);
                tr_utc.appendChild(td_utc_cell1);
                tbody_summary_box.appendChild(tr_utc);


                // this is for flight status row //

                var flight_aware_utc = document.createElement('tr');
                var flight_status_cell = document.createElement('td');
                var flight_status_cell1 = document.createElement('td');

                
                flight_status_cell.className = 'flight-status-cell';
                flight_status_cell1.className = 'flight-status-cell';

                flight_status_cell.innerHTML = 'STD ' + scheduled_out + '<br>' + 'ETD ' + estimated_out 
                flight_status_cell1.innerHTML = 'STA ' + scheduled_in + '<br>' + 'ETA ' + estimated_in 

                flight_aware_utc.className = 'flight-status-row';
                
                flight_aware_utc.appendChild(flight_status_cell);
                flight_aware_utc.appendChild(flight_status_cell1);
                tbody_summary_box.appendChild(flight_aware_utc);
            



            }
            
            // To use the function you have to use this

            summary_box(bulk_flight_deets)

        })
        .catch(error => console.error('Error Console:', error));
    });
</script>