
<!-- This page is shown when user searches just the airport identifier. -->


{% extends "dj_app/base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'weather_info.css' %}" />



<h3>Weather for {{airport}}</h3>
{% if D_ATIS or METAR or TAF %}
<!-- This is the departure box that contains D-Atis, metar and taf. titles include scheduled time and  -->
<table class="comparison-table">
  <tbody>
    <!-- {% include 'flight_deet_weather_box.html' with weather=trr%} -->
    {% if D_ATIS %}
    <tr>
      <th>D-ATIS <span class="small-text"> {{datis_zt | safe }}</span></th>
    </tr>
    <tr>
      <td style="text-align: left; font-family: Menlo, monospace">{{D_ATIS|safe}}</td>
    </tr>
    {% endif %} {% if METAR %}
    <tr>
      <th>METAR <span class="small-text"> {{metar_zt | safe}}</span></th>
    </tr>
    <tr>
      <td style="text-align: left; font-family: Menlo, monospace">{{METAR|safe}}</td>
    </tr>
    {% endif %} {% if TAF %}
    <tr>
      <th>TAF <span class="small-text"> {{taf_zt | safe}}</span></th>
    </tr>

    <tr>
      <td style="text-align: left; font-family: Menlo, monospace">{{TAF|safe}}</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% else %}
<p>No weather information found for {{airport}}. Try `w kewr`</p>

{% endif %}

<form method="post" class="search-form">
  {% csrf_token %}
  <label for="query"></label>
  <input type="text" name="query" id="query">
  <button type="submit" onclick="search()" id="searchButton">Search</button>
  <div class="loading-spinner" id="loadingSpinner"></div>
</form>


<script type="text/javascript" src="{% static 'weather_info.js' %}"></script>


{% endblock %}
