body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gmt-clock {
  position: fixed;
  top: 65px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Background color */
  color: white; /* Text color */
  padding: 5px 10px; /* Padding for the clock */
  border-radius: 5px; /* Rounded corners */
  font-size: 14px; /* Font size */
}

.dark-mode-switch {
  position: absolute;
  top: 15px;
  right: 100px;
  z-index: 999;
  cursor: pointer;
}

.dark-mode-switch input[type="checkbox"] {
  display: none;
}

.dark-mode-switch label {
  display: inline-block;
  width: 57px;
  height: 30px;
  background-color: #fafafa;
  border-radius: 15px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.dark-mode-switch label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.dark-mode-switch input[type="checkbox"]:checked + label {
  background-color: #6b6b6b;
}

.dark-mode-switch input[type="checkbox"]:checked + label::after {
  transform: translateX(20px);
}

.dark-mode-switch label::before {
  content: "☀️";
  align-content: center;
  font-size: 18px;
  position: absolute;
  top: 4px;
  left: 6px;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.dark-mode-switch input[type="checkbox"]:checked + label::before {
  content: "🌙";
  align-content: center;
  font-size: 18px;
  position: absolute;
}

.dark-mode-switch input[type="checkbox"]:checked + label::before {
  transform: translateX(24px); 
  transition: 0.3s ease-in-out;
}

body.dark-mode {
  background-color: #000000;
}

body.dark-mode h1 {
  color: #FFFFFF;
}

body.dark-mode h2 {
  color: #FFFFFF;
}

body.dark-mode h3 {
  color: #FFFFFF;
}

body.dark-mode p {
  color: #FFFFFF;
}

body.dark-mode .sticky-header {
  background-color: #000000;
}

body.dark-mode thead {
  font: #FFFFFF;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #474350;
  z-index: 999;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border-collapse: collapse;
}

.sticky-header h1 {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.header-text a {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 999;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

.burger-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #474350 !important;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.active {
  transform: translateX(0) !important;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  text-align: right;
}

.sidebar li {
  margin-bottom: 10px;
  text-align: right;
  color: #000000;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

h1 {
  font-size: 35px;
  margin-top: 10px;
  color: #050505;
}

h2 {
  margin-top: 20px;
  text-align: center;
  color: #050505;
}

h3 {
  text-align: center;
  margin-top: 40px;
  color: #050505;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #050505;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 500px;
    max-width: 1000px;
    background-color: #ECF9FF;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .burger-menu {
    top: 15px;
    right: 20px;
  }
}

h1 {
  font-size: 32px;
  margin-top: 10px;
  color: #050505;
}
