body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Menlo, monospace;
}

.gmt-clock {
  position: fixed;
  top: 65px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Background color */
  color: white; /* Text color */
  padding: 5px 10px; /* Padding for the clock */
  border-radius: 5px; /* Rounded corners */
  font-size: 14px; /* Font size */
  z-index: 9999; /* Set a higher value for stacking order */
}

.dark-mode-switch {
  position: absolute;
  top: 10px;
  right: 100px;
  z-index: 999;
  cursor: pointer;
}

.dark-mode-switch button {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fafafa;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}



.dark-mode-switch button::before {
  content: ""; /* Clear the content */
  display: block;
  width: 18px; /* Adjust the width of your image */
  height: 18px; /* Adjust the height of your image */
  background-size: cover;
}

.dark-mode-switch button.sun::before {
  background-image: url('/Cirrostrats/logo/sun.png'); /* Path to your sun image */
}

.dark-mode-switch button.moon::before {
  background-image: url('/Cirrostrats/logo/moon.png'); /* Path to your moon image */
}

body.dark-mode {
  background-color: #22272E;
}

body.dark-mode h1 {
  color: #ADBAC7;
}

body.dark-mode h2 {
  color: #515A65;
}

body.dark-mode h3 {
  color: #515A65;
}

body.dark-mode p {
  color: #515A65;
}

body.dark-mode .sticky-header {
  background-color: #2D333B;
}

body.dark-mode thead {
  font: #FFFFFF;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #24292E;
  z-index: 999;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border-collapse: collapse;
}

.sticky-header h1 {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.header-text a {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 999;
  font-size: 20px;
  font-weight: bold;
  color: #24292E;
  text-decoration: none;
}

.burger-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #2D333B !important;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.active {
  transform: translateX(0) !important;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  text-align: right;
}

.sidebar li {
  margin-bottom: 10px;
  text-align: right;
  color: #000000;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

h1 {
  font-size: 35px;
  margin-top: 10px;
  color: #24292E;
}

h2 {
  margin-top: 20px;
  text-align: center;
  color: #24292E;
}

h3 {
  text-align: center;
  margin-top: 40px;
  color: #24292E;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #24292E;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 500px;
    max-width: 1000px;
    background-color: #ECF9FF;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .burger-menu {
    top: 15px;
    right: 20px;
  }
}

h1 {
  font-size: 32px;
  margin-top: 10px;
  color: #24292E;
}