body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Menlo, monospace;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}


html, body { min-height: 100%; }
body.loading {
  background: #333 url('http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
  -webkit-transition: background-color 0;
  transition: background-color 0;
  opacity: 0;
  -webkit-transition: opacity 0;
  transition: opacity 0;
}


/************** this code is for clock *************/

.gmt-clock {
  position: fixed;
  top: 85px; 
  right: 10px; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  padding: 5px 10px; 
  border-radius: 5px; 
  font-size: 14px; 
  z-index: 9999; 
}

/************** this code is for dark/light mode button *************/

.dark-mode-switch {
  position: absolute;
  top: 10px;
  right: 100px;
  z-index: 999;
  cursor: pointer;
}

.dark-mode-switch button {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fafafa;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}

.dark-mode-switch button::before {
  content: ""; 
  display: block;
  width: 18px; 
  height: 18px; 
  background-size: cover;
}

.dark-mode-switch button.sun::before {
  background-image: url('/Cirrostrats/logo/sun.png'); 
}

.dark-mode-switch button.moon::before {
  background-image: url('/Cirrostrats/logo/moon.png'); 

}

/************** this code is for dark/light mode color *************/

body.dark-mode {
  background-color: #22272E;
}

body.dark-mode h1 {
  color: #ADBAC7;
}

body.dark-mode h2 {
  color: #515A65;
}

body.dark-mode h3 {
  color: #515A65;
}

body.dark-mode p {
  color: #515A65;
}

body.dark-mode .sticky-header {
  background-color: #2D333B;
}

body.dark-mode thead {
  font: #FFFFFF;
}



.alert-banner a {
  color: white; /* Set link color to white */
  text-decoration: none;
}



/************** this code is for header *************/

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #24292E;
  z-index: 999;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border-collapse: collapse;
}

.sticky-header h1 {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.header-text a {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 999;
  font-size: 28px;
  font-weight: bold;
  color: #24292E;
  text-decoration: none;
}

/************** this code is for burger menu *************/

.burger-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

/************** this code is for sidebar *************/

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #2D333B !important;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.active {
  transform: translateX(0) !important;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  text-align: right;
}

.sidebar li {
  margin-bottom: 10px;
  text-align: right;
  color: #000000;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/************** this code is for text *************/


h2 {
  margin-top: 20px;
  text-align: center;
  color: #24292E;
}

h3 {
  text-align: center;
  margin-top: 40px;
  color: #24292E;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #24292E;
}



@media only screen and (max-width: 600px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 500px;
    max-width: 1000px;
    background-color: #ECF9FF;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .burger-menu {
    top: 15px;
    right: 20px;
  }
}

h1 {
  font-size: 32px;
  margin-top: 10px;
  color: #24292E;
}