body {
background-color: #fbf2e7;
margin: 0;
padding: 0;
}

h1 {
font-size: 36px;
font-weight: bold;
text-align: center;
margin-top: 50px;
}

h3,
h4 {
font-size: 18px;
font-weight: bold;
text-align: center;
margin-top: 30px;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  }

table {
margin: 0 auto;
border-collapse: collapse;
width: 100%;
max-width: 800px;
background-color: #fffbeb;
margin-bottom: 100px;
}

th,
td {
padding: 10px;
text-align: left;
border: 1px solid #000000;
}

thead {
background-color: #f4e4d998;
color: #000000;
}

tbody tr:nth-child(even) {
background-color: #ecf9ff;
}


.search-form-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(251, 242, 231, 0.0); /* Use rgba color with an alpha value for transparency */  
  border: 0px solid black;
  padding: 10px;
  margin-bottom: 20px; /* Add margin-bottom to create space for the table */
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ecf9ff;
  color: #000000;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
.search-form-wrapper {
width: 200px;
visibility: visible;
}

.search-form input[type="text"] {
width: fit-content
}
}

@media only screen and (max-width: 400px) {
h1 {
font-size: 18px;
}

p {
font-size: 14px;
}
}
