body {
  margin: 0;
  padding: 0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.2s ease;
}

.accordion-content.active {
  max-height: 1000px; 
  width: 100%;
}


.comparison-table thead th{
  position: sticky;
  top: 0;
  background-color: #2D333B !important ;
  z-index: 1;
  color: #24292E;
}

.comparison-table th {
  background-color: #2D333B;
}

.header-button {
  cursor: pointer;
  width: 100%;
}

.accordion-button {
  background: none;
  cursor: pointer;
  font-size: inherit;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none; /* Remove outline on focus */
  background-color: #2D333B;
}

.accordion-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.dark-mode .toggle-button {
  background-color: #2D333B;
  color: #FFFFFF;
}

.toggle-button.active {
  transform: rotate(180deg);
}

h5 {
  text-align: center;
}

.dark-mode table.comparison-table thead th {
  background-color: rgb(255, 255, 255);
  color: #ADBAC7;
  background-color: #2D333B;
}

.dark-mode table.comparison-table {
  background-color: #2D333B !important;
  box-shadow: 0 0 0 1px #ffffff;
  border-color: #ffffff;
  border-collapse: collapse;
  color: #ADBAC7;
}

.dark-mode table.comparison-table th {
  background-color: #2D333B;
  color: #ADBAC7;
  border-color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
}

.dark-mode table.comparison-table td {
  background-color: #22272E;
  color: #ADBAC7;
  border-color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
}


.dark-mode table.another-table {
  box-shadow: 0 0 0 1px #ffffff;
  border-color: #ffffff;
  border-collapse: collapse;
}

.dark-mode table.another-table th {
  border-color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
}

.dark-mode table.another-table td {
  border-color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
}


.dark-mode h4 {
  color: white;
}

.dark-mode h5 {
  color: white;
}

.dark-mode .accordion-button {
  color: white;
  border-color: white;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: black;
  border-radius: 5px;
  margin-bottom: 20px;
}


.search-form input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #2D333B;
  color: #ffffff;
  cursor: pointer;
}


.route {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #000000;
  border: 5px;
  border-collapse: collapse; /* Added border-collapse property */
}

.dark-mode .route {
  background-color: #22272E;
  color: #ADBAC7;
  box-shadow: 0 0 0 1px #ffffff;
}

.route th {
  padding: 10px 5px; /* Adjusted padding */
  text-align: center;
  background-color: #2D333B;
  color: #ffffff;
  border-radius: 10px; /* Added border-radius */
}

.dark-mode .route th {
  background-color: #2D333B;
  color: #ADBAC7;
}

.route td {
  padding: 10px;
  text-align: center;
}

.route tr:first-child {
  border-radius: 10px 10px 0 0;
}

.route tr:last-child {
  border-radius: 0 0 10px 10px;
}

table.comparison-table {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  background-color: #2D333B;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #000000;

}

table.comparison-table th {
  padding: 10px;
  text-align: center;
  background-color: #2D333B;
  color: #ffffff;
}

table.comparison-table td {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  color: #24292E;
}

table.comparison-table thead {
  background-color: #2D333B;
  color: #ffffff;
}

table.comparison-table th:first-child,
table.comparison-table td:first-child {
  font-weight: bold;
}

table.comparison-table th {
  width: 20%;
}

table.comparison-table td {
  width: 15%;
}

/* Apply styling to the "another-table" */
table.another-table {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  background-color: #000000;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

table.another-table th {
  padding: 10px;
  text-align: center;
  background-color: #fa6767;
  color: #2D333B;
  border: 1px solid #000000; /* Add border for headers */
}

table.another-table td {
  padding: 10px;
  text-align: center;
  background-color: #fa6767;
  border: 1px solid #000000; /* Add border for data cells */
}

table.another-table thead {
  background-color: #fa6767;
  color: #000000;
}

table.another-table th:first-child,
table.another-table td:first-child {
  font-weight: 600;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh; /* Adjust the minimum height as needed */
  margin: 0 auto; /* Center horizontally by setting left and right margin to "auto" */
  max-width: 800px; /* Adjust the maximum width as needed */
}


.highlight-red {
    color: rgb(255, 0, 0); 
    padding: 4px; 
    border-radius: 5px;
}



@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
  
  p {
    font-size: 18px;
  }
  
  .search-form input[type="text"] {
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
  
  .search-form input[type="text"] {
    width: 150px;
  }

  .toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: 70px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 0.1px;
    background-color: #FFFFFF;
  }

}

.table-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.table-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

