body {
    margin: 0;
    padding: 0;
  }

  /************** this code is for text *************/
   
  h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 40px;
  }
  
    @media only screen and (max-width: 600px) {
    h1 {
      font-size: 35px;
    }
  
    p {
      font-size: 14px;
    }
}
  
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 16px;
    }
  
    p {
      font-size: 12px;
    }
  
}
  