body {
  margin: 0;
  padding: 0;
}



.changelog-animated {
  animation: pulse 2s infinite;
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: white;
  text-align: center;
  padding: 15px;
  overflow: hidden; /* Hide any overflowing content */
  white-space: wrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 10px #804f4c;
  }
  50% {
    box-shadow: 0 0 20px #804f4c;
  }
}

.changelog-animated h4 {
  margin: 0;
  font-size: 16px;
  color: #804f4c;
}







/* this is a styling for random text spinner */

    .scrolling-container {
      position: relative;
      overflow: hidden;
      width: 90%;
      height: 60px; 
      margin: auto;
  }

  .scrolling-text {
      position: absolute;
      left: 0;
      white-space: nowrap;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: opacity 0.5s ease;
      font-weight: bold; 
      font-size: 16px;
      text-wrap: wrap;
  }

  

  .dark-mode .scrolling-text {
    color: #adbac7;
  }

  .scrolling-text.active {
    opacity: 1;
    animation-name: fade;
    animation-fill-mode: forwards; /* Keep the final state after animation */
    /* animation-fill-mode: both; */
    animation-iteration-count: 1; /* Only play once */
    animation-iteration-count: infinite;
    animation-duration: 1.5s; /* Fade in duration */
    animation-delay: 7s; /* Delay before starting the fade-out */
    animation-direction: alternate-reverse;  
  }

  .scrolling-text.hidden {
        display: none;
        animation-name: fade;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-direction: alternate;
      }
  
      @keyframes fade{
        0%,45% {
          opacity: 0;
    }
        100%{
          opacity: 1;
      }
    }


    /* this is a styling for banner  */


    .banner {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #804f4c;
      color: white;
      text-align: center;
      padding: 10px;
      z-index: 9999;
      box-sizing: border-box; /* Ensure padding is included in width calculation */
      overflow: hidden; /* Hide any overflowing content */
      white-space: wrap; /* Prevent text from wrapping */
      text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
      font-size: 18px;
    }
    
    .banner > * {
      white-space: normal; /* Allow text to wrap within children elements */
    }
    
    
    .banner a {
      color: inherit;
    }

    
/* this is a styling for loading spinner */

.loading-spinner {
  display: none;
  width: 30px;
  height: 30px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #24292e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: relative;
  left: 10px; /* Adjust as needed to move the spinner to the right */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-mode .loading-spinner {
  border-top: 3px solid #2d333b;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/************** this code is for random text animation *************/


.hidden {
  opacity: 0;
}

.visible {
  animation: fadeIn 0.2s ease forwards;
}


/************** this code is for link container *************/

.dark-mode .links-container a {
  color: white;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -15px;
  text-decoration: underline;
  font-weight: bold;
}

.links-container a {
  color: #000000;
  text-decoration: none;
  transition: font-size 0.2s;
}

.links-container a:hover {
  text-decoration: underline;
  font-size: 18px;
}

/************** this code is for styles *************/

h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

h3 a {
  color: #24292e;
}

p {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin-top: 40px;
}

.dark-mode h3 a {
  color: #adbac7 !important;
}

/************** this code is for search bar *************/

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: black;
  border-radius: 5px;
}

.search-form input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.dark-mode .search-form input[type="text"] {
  border: 1px solid rgb(255, 255, 255);
  background-color: #2d333b;
  color: white;
}

.search-form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #2d333b;
  color: #ffffff;
  cursor: pointer;
}

.dark-mode .search-form button {
  border: 1px solid white;
  background-color: #2d333b;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 14px;
  }

  .search-form input[type="text"] {
    width: 200px;
  }
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}



@media only screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 12px;
  }

  .search-form input[type="text"] {
    width: 150px;
  }
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

