body {
  margin: 0;
  padding: 0;
}

  .dark-mode .links-container a {
    color: white;
  }

  .dark-mode .search-form button{
    border: 1px solid white
  }
  
  .dark-mode h3 a {
    color: #515A65;
  }
  
.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -15px;
  text-decoration: underline;
  font-weight: bold;
}

.links-container a {
  color: #000000; 
  text-decoration: none; 
  transition: font-size 0.2s; 
}

.links-container a:hover {
  text-decoration: underline; 
  font-size: 18px; 
}

h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

h3 a {
  color: #24292E;
}

p {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin-top: 40px;
}

/* Search form styles */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: black;
  border-radius: 5px;
}



.search-form input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.dark-mode .search-form input[type="text"] {
  border: 1px solid white; /* Specify the style and color of the border */
}


.search-form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #2D333B;
  color: #ffffff;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  p {
    font-size: 14px;
  }

  .search-form input[type="text"] {
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .search-form input[type="text"] {
    width: 150px;
  }
}
