body {
  margin: 0;
  padding: 0;
}


/************** this code is for table *************/


body.dark-mode thead{
  color: #FFFFFF;
  border: 1px solid #ffffff; /* Change border color */
}

.dark-mode tr:nth-child(odd) {
  color: #ffffff;
  border: 1px solid #ffffff; /* Change border color */
}

.dark-mode tr:nth-child(even) {
  color: #ADBAC7;
  background-color: #22272E;
  border: 1px solid #ffffff; /* Change border color */
}

.table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  width: 80%;
  max-width: 550px;
  background-color: #2D333B;
  border: 1px solid #ffffff; /* Border for the entire table */
  border-radius: 15px;
  overflow: hidden; 
}

.dark-mode .table {
  background-color: #2D333B;
  border: 1px solid #ffffff; /* Border for the entire table in dark mode */
  border-radius: 15px; /* Border radius for dark mode */
  border-collapse: collapse;
  border-top: #ffffff;
  border-left: #ffffff;
  border-right: #ffffff;
  border-bottom: #ffffff;
}


th{
  padding: 10px;
  border: 1px solid #000000;
}

td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000000;
}

thead {
  color: #ffffff;
}

.dark-mode thead {
  color: #ADBAC7;
  border: 1px solid #ffffff;
}

.dark-mode th, .dark-mode td {
  color: #ADBAC7;
  border: 1px solid #ffffff;
}


tbody tr:nth-child(even) {
  background-color: #ffffff;
}


tbody tr:nth-child(odd) {
  color: #ffffff;
}



/************** this code is for text *************/


h1 {
  font-size: 10;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: #ADBAC7;
}

h3 {
  font-size: 50;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

/************** this code is for searchbar *************/


.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border:black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #2D333B;
  color: #ffffff;
  cursor: pointer;
}

.dark-mode .search-form input[type="text"] {
  border: 1px solid rgb(255, 255, 255); 
  background-color: #2D333B;
  color: white;
}

.dark-mode .search-form button{
  border: 1px solid white;
  background-color: #2D333B;
}

.box_around_text {
  border-radius: 4px;
  border: 1px solid #2D333B; 
  border-collapse: collapse;
  padding-left: 2px;
  padding-right: 2px;

}

.dark-mode .box_around_text {
  background-color: #2D333B(159, 26, 26);
  border-radius: 4px;
  border: 1px solid #ffffff; 
  border-collapse: collapse;
}

.pink_text_color {
    color: #be38e1; 
    padding: 4px; 
    border-radius: 5px;
}

.red_text_color {
    color: rgb(227, 79, 79); 
    padding: 4px; 
    border-radius: 5px;
}

.yellow_highlight {
  background-color: rgba(251, 118, 118, 0.847);
}

.yellow_warning {
  background-color: rgba(255, 247, 159, 0.999);
  padding: 1.5px; 
  border-radius: 7px;
}



@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  .search-form input[type="text"] {
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .search-form input[type="text"] {
    width: 150px;
  }
}



.dark-mode .box_around_text {
  background-color: #2D333B(159, 26, 26);
  border-radius: 4px;
  border: 1px solid #ffffff; /* Specify the border style (solid) and color (#000000) */
  border-collapse: collapse;
}

.pink_text_color {
    color: #be38e1; 
    padding: 4px; 
    border-radius: 5px;
}

.red_text_color {
    color: rgb(227, 79, 79); 
    padding: 4px; 
    border-radius: 5px;
}

.yellow_highlight {
  background-color: rgba(251, 118, 118, 0.847);
}
