body {
  background-color: #fbf2e7;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 50;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  background-color: #fffbeb;
  border: 1px solid #000000;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000000;
}

thead {
  background-color: #f4e4d9;
  color: #000000;
}

tbody tr:nth-child(even) {
  background-color: #ecf9ff;
}

/* Search form styles */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border:black;
  border-radius: 5px;
}

.search-form input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ecf9ff;
  color: #000000;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  .search-form input[type="text"] {
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .search-form input[type="text"] {
    width: 150px;
  }
}
