body {
  margin: 0;
  padding: 0;
}

.small-text {
  font-size: 12px;
  font-weight: 100;
  color: gray;
}

.loading-spinner {
  display: none;
  width: 30px;
  height: 30px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #24292e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: relative;
  left: 10px; /* Adjust as needed to move the spinner to the right */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-mode .loading-spinner {
  border-top: 3px solid #2d333b;
}


/************** this code is for comparison table *************/

.comparison-table {
  width: 100%;
  border-collapse: collapse;
}

.comparison-table th,
.comparison-table td {
  border: none;
}

.comparison-table th:first-child,
.comparison-table td:first-child {
  border-left: 1px solid black;
}

.comparison-table th:last-child,
.comparison-table td:last-child {
  border-right: 1px solid black;
}

.comparison-table tr:first-child th,
.comparison-table tr:last-child td {
  border-bottom: 1px solid black;
}

.comparison-table tr:not(:first-child) th,
.comparison-table tr:not(:last-child) td {
  border-top: 1px solid black;
}

table.comparison-table {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  background-color: #2D333B;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0 0px #000000;
  color: inherit;
  text-decoration: inherit;
  border: 10px;
}

table.comparison-table th,
table.comparison-table td {
  padding: 10px;
  text-align: center;
}

table.comparison-table th {
  background-color: #2D333B;
  color: #ffffff;
  width: 20%;
  border-color: rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

table.comparison-table td {
  background-color: #ffffff;
  color: #24292E;
  width: 15%;
  border-color: rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

table.comparison-table thead {
  background-color: #2D333B;
  color: #ffffff;
}

table.comparison-table th:first-child,
table.comparison-table td:first-child {
  font-weight: bold;
}

.dark-mode table.comparison-table thead th {
  background-color: #2D333B;
  color: #ADBAC7;
}

.dark-mode table.comparison-table {
  background-color: #2D333B !important;
  box-shadow: 0 0 0 1px #ffffff;
  color: #ADBAC7;
}

.dark-mode table.comparison-table th,
.dark-mode table.comparison-table td {
  background-color: #22272E;
  color: #ADBAC7;
  border-color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.dark-mode table.comparison-table th:first-child,
.dark-mode table.comparison-table td:first-child {
  border-left: 1px solid black;
}

.dark-mode table.comparison-table th:last-child,
.dark-mode table.comparison-table td:last-child {
  border-right: 1px solid black;
}



/************** this code is for text *************/


h1 {
  font-size: 10;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: #ADBAC7;
}

h3 {
  font-size: 50;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

/************** this code is for zulu time *************/


.published-color1 {
  color: rgb(203, 24, 24);
  font: bold;
}

.published-color2 {
  color: rgb(47, 144, 28);
  font: bold;
}


/************** this code is for searchbar *************/


.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border:black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #2D333B;
  color: #ffffff;
  cursor: pointer;
}

.dark-mode .search-form input[type="text"] {
  border: 1px solid rgb(255, 255, 255); 
  background-color: #2D333B;
  color: white;
}

.dark-mode .search-form button{
  border: 1px solid white;
  background-color: #2D333B;
}

.box_around_text {
  border-radius: 4px;
  border: 1px solid #2D333B; 
  border-collapse: collapse;
  padding-left: 2px;
  padding-right: 2px;

}

.dark-mode .box_around_text {
  background-color: #2D333B(159, 26, 26);
  border-radius: 4px;
  border: 1px solid #ffffff; 
  border-collapse: collapse;
}

.pink_text_color {
    color: #be38e1; 
    padding: 4px; 
    border-radius: 5px;
}

.red_text_color {
    color: rgb(227, 79, 79); 
    padding: 4px; 
    border-radius: 5px;
}

.yellow_highlight {
  background-color: rgba(251, 118, 118, 0.847);
}

.yellow_warning {
  background-color: rgba(255, 247, 159, 0.999);
  padding: 1.5px; 
  border-radius: 7px;
}



@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  .search-form input[type="text"] {
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .search-form input[type="text"] {
    width: 150px;
  }
}



.dark-mode .box_around_text {
  background-color: #2D333B(159, 26, 26);
  border-radius: 4px;
  border: 1px solid #ffffff; /* Specify the border style (solid) and color (#000000) */
  border-collapse: collapse;
}

.pink_text_color {
    color: #be38e1; 
    padding: 4px; 
    border-radius: 5px;
}

.red_text_color {
    color: rgb(227, 79, 79); 
    padding: 4px; 
    border-radius: 5px;
}

.yellow_highlight {
  background-color: rgba(251, 118, 118, 0.847);
}
